VITE_SUPABASE_URL=https://exyliyifbovhotlcdpth.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV4eWxpeWlmYm92aG90bGNkcHRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2NzY0OTcsImV4cCI6MjEwNTI1MjQ5N30.pxpwYtUZl8yAVO2KCQwUKimPjkXekc-x0kjvkIDL5eA
